.houses {
  display: flex;
  flex-wrap: wrap;
  background-color: #56642a;
}

.houseTile {
  min-height: 15vh;
  width: 200px;
  border-radius: 5px;
  justify-content: space-around;
  background-color: #92A332;
  margin: 1%;
  padding: 10px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: salmon;
}

.navBarLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 20%;
}